*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:  Calibri; 
}

body{
    line-height: 1.4;
    background-color:whitesmoke;
}

.container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2,1fr);
}

#profilePic{
    width: 20%;
    height: 10%;
    border-radius: 50%;
    margin-top: 100px;    
}